body {
    background-color: #333;
    background-image: url("esporte-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: url("esporte-4.jpg") no-repeat center;
    background-size: cover;
}
body {
    background-color: #333;
    background-image: url("esporte-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: url("esporte-4.jpg") no-repeat center;
    background-size: cover;
    box-shadow: inset 0px 0px 10px #000, inset 10px 10px 10px green;
}